.nav-bar {
    
}

.bg-dark {
    background-color: #0d61ba!important;
}

.navbar-dark .navbar-brand {
    width: 300px;
    color: #fff;
    background-color: #0575ee;
    padding: 0px;
    height: 65px;
}

.logo {
    width : 100px;
    /* height : 200px; */
}